﻿@using BuisnessEntities.Entities
@{
    ViewBag.Title = "chartData";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<style>

    chart_container {
        width: 50px;
        height: 50px;
        border: 1px solid #ddd;
        padding: 1px;
        border-radius: 4px;
    }
</style>
<script src="~/Scripts/Chart.min.js"></script>


<div class="boxes" style="padding-top: 40px;padding-bottom: 40px;">
    <a class="firstbox" href="@Url.Action("Donate","Donation")">
        <div class="heightfix">
            <div class="boxspacer">&nbsp;</div>

            <div class="boxtext">
                <h2>1) Lets rethink the way We care for Seniors.</h2>
                <p>   There are number of ways you can contribute your skills and time by particpating in caring and friendly volunteering opputunities.</p>
                <div id="chart_conatiner">

                    <canvas id="bar_chart" width="500px" height="100px" class="chartjs-render-monitor" style="display: block; width: 100px; height:300px;"></canvas>

                </div>
            </div>
        </div>
    </a>
    <a class="secondbox" href="@Url.Action("Donate","Donation")">
        <div class="heightfix">
            <div class="boxspacer">&nbsp;</div>

            <div class="boxtext">
                <h2>2) Care for people living with a disability.</h2>
                <p>
                    Its hard to manage household chores and day to day task for many disable people without your help.
                    The graph below repersent that 188,580 people were actually looking for volunteers like you to support them.
                    Its never too lates, lets see how can we help them
                </p>
            </div>
        </div>
    </a>
</div>


<script>

        var barChartData =
            {
                labels: [@Html.Raw(ViewBag.Year_List)],
                datasets: [{
                    label: 'Aged People Count (Age >= 70 )',
                    backgroundColor: [
                        "#f990a7",
                        "#aad2ed",
                        "#9966FF",
                        "#99e5e5",
                        "#f7bd83",
                    ],
                    borderWidth: 2,
                    data: [@ViewBag.PeopleCount_List]
                }]
            };

        window.onload = function () {
            var ctx1 = document.getElementById("bar_chart").getContext("2d");
            window.myBar = new Chart(ctx1,
                {
                    type: 'bar',
                    data: barChartData,
                    options:
                    {
                        title:
                        {
                            display: true,
                            text: "Aged People Count (Age >= 70 )"
                        },
                        scales: {
                            xAxes: [{
                                barThickness: 80
                            }],
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        },
                        responsive: true,
                        maintainAspectRatio: false
                    }
                });
        }


</script>