﻿@model BuisnessEntities.Entities.StudentInfo
@{
    ViewBag.Title = "Home Page";
}

<div id="amazingslider-wrapper-1" style="display:block;position:relative;max-width:1200px;margin:20px auto 45px;">
    <div id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
        <ul class="amazingslider-slides" style="display:none;">
            <li>
                <img src="~/Images/217-MH-Broadmeadwo-story.jpg" alt="217-MH-Broadmeadwo-story" title="“Charity begins at home, but should not end there”" />
            </li>
            <li>
                <img src="~/Images/217-MH-Broadmeadwo-story.jpg" alt="LIFEHACK4WHEELCHAIR" title="“Be the change you want to see in the world.-Mahatma Gandhi" />
            </li>
            <li>
                <img src="~/Images/52344f56cffc3f3304bb3161c339cb8a.png" alt="52344f56cffc3f3304bb3161c339cb8a" title="“There is no exercise better for the heart than reaching down and lifting people up.”
― John Holmes" />
            </li>
            <li>
                <img src="~/Images/social-work-2356024_960_720.jpg" alt="social-work-2356024_960_720" title="“While earning your daily bread, be sure you share a slice with those less fortunate.” – Jackson Brown, Jr" />
            </li>
            <li>
                <img src="~/Images/woman-391555_1920.jpg" alt="woman-391555_1920" title="Actual world has bigger screen than your television screen" />
            </li>
        </ul>
        <ul class="amazingslider-thumbnails" style="display:none;">
            <li><img src="images/217-MH-Broadmeadwo-story-tn.jpg" alt="217-MH-Broadmeadwo-story" title="217-MH-Broadmeadwo-story" /></li>
            <li><img src="images/LIFEHACK4WHEELCHAIR-tn.jpg" alt="LIFEHACK4WHEELCHAIR" title="LIFEHACK4WHEELCHAIR" /></li>
            <li><img src="images/52344f56cffc3f3304bb3161c339cb8a-tn.png" alt="52344f56cffc3f3304bb3161c339cb8a" title="52344f56cffc3f3304bb3161c339cb8a" /></li>
            <li><img src="images/social-work-2356024_960_720-tn.jpg" alt="social-work-2356024_960_720" title="social-work-2356024_960_720" /></li>
            <li><img src="images/woman-391555_1920-tn.jpg" alt="woman-391555_1920" title="woman-391555_1920" /></li>
        </ul>
        <div class="amazingslider-engine"><a href="http://amazingslider.com" title="jQuery Content Slider">jQuery Content Slider</a></div>
    </div>
</div>
<div class="topwrapper">
     <div class="aside">
         <div class="asidetext">
             <h1>Choosing a charity should be simple.</h1>
             <p>
                 RealHeroes will help to decide which organisation you can volunteer for to address local communities issue.
                 We also help you to find charities working in your local communities based on your interest.
             </p>
         </div>
    </div>
</div>

<div class="boxes" style="padding-top: 40px;padding-bottom: 40px;">
    <a class="firstbox" href="@Url.Action("Donate","Donation")">
        <div class="heightfix">
            <div class="boxspacer">&nbsp;</div>
            <div class="iconcircle">
                <i class="fa fa-usd" style=" color: rgb(250, 92, 30);"></i>
            </div>
            <div class="boxtext">
                <p><strong>Donate</strong></p>
                <p>See the various charities organization and step ahead to donate.</p>
            </div>
        </div>
    </a>
    <a class="secondbox" href="@Url.Action("Volunteer","ACNC")">
        <div class="heightfix">
            <div class="boxspacer">&nbsp;</div>
            <div class="iconcircle">
                <i class="fa fa-male" style=" color: rgb(250, 92, 30);"></i>
            </div>
            <div class="boxtext">
                <p><strong>Volunteer for a cause</strong></p>
                <p>RealHeros will help you find the charities that best meet your needs.</p>
            </div>
        </div>
    </a>
    @*<a class="thirdbox" href="javascript:void(0);">
        <div class="heightfix">
            <div class="boxspacer">&nbsp;</div>
            <div class="iconcircle">
                <i class="fa fa-lightbulb-o" style=" color: rgb(250, 92, 30);"></i>
            </div>
            <div class="boxtext">
                <p><strong>For charities</strong></p>
                <p>How we determine our metrics and other useful information for not-for-profits</p>
            </div>
        </div>
    </a>*@
</div>
<div class="clear"></div>