﻿
@{
    ViewBag.Title = "chartData";
}
<style>
    #chart_container {
        width: 400px;
        height: 400px;
        border: 1px solid #ddd;
        padding: 1px;
        border-radius: 4px;
    }
</style>

<div id="chart_conatiner">
    <canvas id="bar_chart"></canvas>
</div>
<script>
        var item1 = @Html.Raw(Json.Encode(ViewBag.item1));
        var item2 = @Html.Raw(Json.Encode(ViewBag.item2));
        var ctx = $("#bar_chart");
        var barchart = new Chart(ctx,{
            type:'bar',
            data:{
                labels:ietm2,
                datasets:[{
                    label:"bar chart example",
                    data:repArray,
                    backgroundColor:["rgba(242,166,54,.5)","rgba(145,65,72,.5)","(74,25,92,.5)"],
                    borderColor:["rgba(242,166,54)","rgba(145,65,72)","(74,25,92)"],
                    borderWidth:1
                }]
            },
            options:{
                maintainAspectRatio:false,
                scales:{xAxes:[{ticks:{beginAtZero:true}}]},
                legend:{display:false}
            },
        });
</script>

