﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <title>Real Heroes</title>
    <link href="~/Content/header.css" rel="stylesheet" />
    <link href="~/Content/Styles.css" rel="stylesheet" />
    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <link href="/Content/paging.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/sliderengine/amazingslider-1.css" rel="stylesheet" />
</head>
<body>
    <div class="headerwrapper">
        <div class="logoheader">
            <a href="@Url.Action("Index","Home")">
                <div id="headerimg"><img src="~/Images/CharityLogo.jpg" class="logo" /></div>
            </a>
            <div class="headertext"><a href="/index.php">RealHeroes</a></div>
            <div class="topheadermenu">
                <div class="topmenumobile hmenu"><a href="javascript:void(0);" onclick="mobileMenu()">≡ Menu</a></div>
                <div class="topmenubutton hmenu"><a href="@Url.Action("Donate","Donation")">Donate</a></div>
                <div class="topmenubutton hmenu"><a href="@Url.Action("Volunteer","ACNC")">Volunteer</a></div>
            </div>
        </div>

        <div class="clear"></div>
    </div>

    <div class="clear"></div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="footer">
        <div class="footermenu">

        </div>
        <p id="attribution">Our special thanks to ACNC for providning data under licence of Creative Commons Attribution 3.0 Australia.</p>
        <p>© RealHeroes Incorporated 2018</p>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/selectjs")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery.form.js"></script>
    <script src="/Scripts/UserDefinedScripts/Common.js"></script>
    <script src="/Scripts/UserDefinedScripts/paging.js"></script>
    @*<script src="~/Scripts/sliderengine/jquery.js"></script>*@
    <script src="~/Scripts/sliderengine/amazingslider.js"></script>
    <script src="~/Scripts/sliderengine/initslider-1.js"></script>
    
    
    @RenderSection("scripts", required: false)

</body>
</html>
