﻿@using BuisnessEntities.Entities
@model List<ACNCModel>

    <table class="charitytable">
        <thead>
            <tr>
                <th id="Name">Charity Name</th>
                <th class="revenue tooltipd" id="Address">Address</th>
                <th class="staff tooltipd" id="Suburb">Town City</th>
                <th class="transparency tooltipd" id="CharitySize">Charity Size</th>
                <th class="finances tooltipd" id="Donate">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="datarow" id="asthma-foundation-of-act-inc-">
                    <td>@item.CharityName</td>
                    <td>@item.Address</td>
                    <td>@item.Town</td>
                    <td>@item.Size</td>
                    <td>
                        @if (item.charityWebsite != null)
                        {
                            <a href="@item.charityWebsite"><i class="fa fa-usd-square"></i>Donate</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table><br style="clear:both;">
    
