﻿* {
    margin: 0px;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.clear {
    clear: both;
}
.boxes {
    display: flex;
    justify-content: space-around;
}
.firstbox {
    width: 40%;
    background-color: #eee;
    border-bottom: thick solid #eee;
}
.secondbox {
    width: 40%;
    background-color: #eee;
    border-bottom: thick solid #eee;
}
.thirdbox {
    width: 30%;
    background-color: #eee;
    border-bottom: thick solid #eee;
}
.firstbox, .secondbox, .thirdbox {
    height: auto;
    padding: 2%;
    float: left;
    text-align: center;
    color: #286E94;
    text-decoration: none;
    display: block;
}
    .firstbox:hover i, .secondbox:hover i, .thirdbox:hover i {
        color: #434343 !important;
    }

.firstbox:hover .iconcircle, .secondbox:hover .iconcircle, .thirdbox:hover .iconcircle {
    background: #eee !important;
}


.firstbox:hover, .secondbox:hover, .thirdbox:hover {
    background-color: white;
    color: #286E94;
    cursor: pointer;
    border-bottom: thick solid #52AEE1;
}
.heightfix {
    height: inherit;
}
.boxspacer {
    height: 15%;
}
.iconcircle {
    border-radius: 50%;
    font-size: 3em;
    color: white;
    background: #fff;
    padding: 2%;
    margin: 0 auto;
    width: 2em;
    height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.boxtext {
    margin-top: 3%;
}
.firstbox p, .secondbox p, .thirdbox p {
    top: 5%;
    position: relative;
    padding: 1% 5% 0% 5%;
}
p {
    font-size: 1em;
}

.aside {
    background-color: #C74F21;
    width: 96%;
    text-align: center;
    padding: 2%;
}
.asidetext {
    text-align: center;
    color: white;
    position: relative;
    padding: 0% 5% 0% 5%;
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
    width: 80%;
}
.aside h1 {
    padding-bottom: 1%;
}
h1 {
    font-family: 'Montserrat', sans-serif;
}