﻿@using BuisnessEntities.Utilities
@using BuisnessEntities.Entities
@model ListModel<ACNCModel>
@{
    ViewBag.Title = "Donate";
}

<link href="~/Content/Donate.css" rel="stylesheet" />
<link href="~/Content/searchbtn.css" rel="stylesheet" />

@section Scripts {
    <script>
    $(document).ready(function () {
        $("#SearchColumn").val('');
        var x = $("#mainview");
        var filterbox1 = $("#filterbox1");
        var filterbox2 = $("#filterbox2");
        var filterbox3 = $("#filterbox3");

        if (filterbox1.css('display') == 'none') {
            x.fadeIn('slow');
            $.ajaxExt({
                url: '/ACNC/GetCareFor',
                type: 'GET',
                success: function (data, msg) {
                    $('#CareFor').html('');
                    $('#CareFor').html(data.Object);
                    var careId = $("#CareForSelect option:selected").val();
                    $("#CareForId").val(careId);
                    filterbox1.fadeIn('slow');
                    $.ajaxExt({
                        url: '/ACNC/GetHelpFor',
                        type: 'POST',
                        data: { CareForId: careId },
                        success: function (data, msg) {
                            $('#Sector').html('');
                            $('#Sector').html(data.Object);
                            filterbox2.fadeIn('slow');
                            var HelpId = $("#HelpForSelect option:selected").val();
                            $("#HelpForId").val(HelpId);
                            $.ajaxExt({
                                url: '/ACNC/GetFacilities',
                                type: 'POST',
                                data: { HelpForId: HelpId },
                                success: function (data, msg) {
                                    $('#FacilityType').html('');
                                    $('#FacilityType').html(data.Object);
                                    filterbox3.fadeIn('slow');
                                    $("#FacilityId").val($("#FacilitiesForSelect option:selected").val());

                                    var HelpId = $("#HelpForSelect option:selected").val();
                                    var careId = $("#CareForSelect option:selected").val();
                                    var fId = $("#FacilitiesForSelect option:selected").val();

                                    $("#CareForId").val(careId);
                                    $("#HelpForId").val(HelpId);
                                    $("#FacilityId").val(fId);

                                    Paging($('form#search-form').find('button[type=submit]'));
                                }
                            });
                        }
                    });
                }
            });

        }


             paging.pageSize = parseInt(@Model.FilterCriteriaModel.PageSize);
             paging.currentPage = 0
             PageNumbering(parseInt(@Model.PagingResult.TotalResults));

            $("#search").on('click', function (e) {
                var searchbox = $("#searchbox");
                if (searchbox.css('display') == 'none') {
                    searchbox.fadeIn('slow');
                } else {
                    searchbox.fadeOut('slow');
                    $("#SearchColumn").val('');
                    Paging($('form#search-form').find('button[type=submit]'));
                }
             });
            //$("#filter").on('click', function () {
            //    var x = $("#mainview");

            //    var filterbox1 = $("#filterbox1");
            //    var filterbox2 = $("#filterbox2");
            //    var filterbox3 = $("#filterbox3");

            //    var filter1 = filterbox1.find('div#CareFor');
            //    var filter2 = filterbox2.find('div#Sector');
            //    var filter3 = filterbox3.find('div#FacilityType');
            //    if (filterbox1.css('display') == 'none') {
            //        x.fadeIn('slow');
            //        $.ajaxExt({
            //            url: '/ACNC/GetCareFor',
            //            type: 'GET',
            //            success: function (data, msg) {
            //                $('#CareFor').html('');
            //                $('#CareFor').html(data.Object);
            //                var careId = $("#CareForSelect option:selected").val();
            //                $("#CareForId").val(careId);
            //                filterbox1.fadeIn('slow');
            //                $.ajaxExt({
            //                    url: '/ACNC/GetHelpFor',
            //                    type: 'POST',
            //                    data: { CareForId: careId },
            //                    success: function (data, msg) {
            //                        $('#Sector').html('');
            //                        $('#Sector').html(data.Object);
            //                        filterbox2.fadeIn('slow');
            //                        var HelpId = $("#HelpForSelect option:selected").val();
            //                        $("#HelpForId").val(HelpId);
            //                        $.ajaxExt({
            //                            url: '/ACNC/GetFacilities',
            //                            type: 'POST',
            //                            data: { HelpForId: HelpId },
            //                            success: function (data, msg) {
            //                                $('#FacilityType').html('');
            //                                $('#FacilityType').html(data.Object);
            //                                filterbox3.fadeIn('slow');
            //                                $("#FacilityId").val($("#FacilitiesForSelect option:selected").val());
            //                            }
            //                        });
            //                    }
            //                });
            //            }
            //        });

            //    } else {
            //        filterbox3.fadeOut('slow');
            //        filterbox2.fadeOut('slow');
            //        filterbox1.fadeOut('slow');
            //        filter3.html('');
            //        filter2.html('');
            //        filter1.html('');
            //        $("#FacilityId").val('');
            //        $("#HelpForId").val('');
            //        $("#CareForId").val('');
            //        x.fadeOut('slow');

            //        Paging($('form#search-form').find('button[type=submit]'));
            //    }

            //});

            $("div.close").on('click', function (e) {
                $(this).parent().fadeout('slow');
            });
        });

    function searchData() {
        $("#SearchColumn").val($("#Search").val());
        Paging($('form#search-form').find('button[type=submit]'));
    }

    function GetHelpFor() {
        var careId = $("#CareForSelect option:selected").val();
        $("#CareForId").val(careId);
        $.ajaxExt({
            url: '/ACNC/GetHelpFor',
            type: 'POST',
            data: { CareForId: careId},
            success: function (data, msg) {
                $('#Sector').html('');
                $('#Sector').html(data.Object);
                $("#HelpForId").val($("#HelpForSelect option:selected").val());
                var HelpId = $("#HelpForSelect option:selected").val();
                $.ajaxExt({
                    url: '/ACNC/GetFacilities',
                    type: 'POST',
                    data: { HelpForId: HelpId },
                    success: function (data, msg) {
                        $('#FacilityType').html('');
                        $('#FacilityType').html(data.Object);
                        $("#FacilityId").val($("#FacilitiesForSelect option:selected").val());
                    }
                });
            }
        });
    }

    function GetFaciltities() {
        var HelpId = $("#HelpForSelect option:selected").val();
        $.ajaxExt({
            url: '/ACNC/GetFacilities',
            type: 'POST',
            data: { HelpForId: HelpId },
            success: function (data, msg) {
                $('#FacilityType').html('');
                $('#FacilityType').html(data.Object);
                $("#FacilityId").val($("#FacilitiesForSelect option:selected").val());
            }
        });
    }

    function GetDetailsByParam() {
        var HelpId = $("#HelpForSelect option:selected").val();
        var careId = $("#CareForSelect option:selected").val();
        var fId = $("#FacilitiesForSelect option:selected").val();

        $("#CareForId").val(careId);
        $("#HelpForId").val(HelpId);
        $("#FacilityId").val(fId);

        Paging($('form#search-form').find('button[type=submit]'));
    }
    </script>
}
<div class="container padding1">
    <div class="topwrapper padding1 margin1">

        <div class="toptabs" id="filter">
            <i class="fa fa-filter"></i>
            <span class="toptabtext"> Filter</span>
        </div>
        <div class="toptabs" id="search">
            <i class="fa fa-search"></i>
            <span class="toptabtext"> Search</span>
        </div>
        <div class="clear"></div>
        <div class="selectionbox" id="searchbox" style="display: none;">
            <span>Search charities by name and tags:</span>
            <div class="form-wrapper-2 cf searchbox">
                <input type="text" placeholder="Search here..." required id="Search">
                <button type="button" onclick="searchData();" >Search</button>
            </div>
            <div class="close"><i class="fa fa-times"></i></div>
        </div>
        <div class="selectionbox" id="mainview" style="display: none;">
            @*<div class="close"><i class="fa fa-times"></i></div>*@
            <div class="selectionbox" id="filterbox1" style="display: none;">
                <span>Who do yo want to help?</span>
                <div Id="CareFor" class="">
                </div>
            </div>
            <div class="selectionbox" id="filterbox2" style="display: none;">
                <span>In which sector you want to donate?</span>
                <div Id="Sector" class="">
                </div>
                @*<div class="close"><i class="fa fa-times"></i></div>*@
            </div>
            <div class="selectionbox" id="filterbox3" style="display: none;">
                <span>Any Specific type of help?</span>
                <div class="SpecificFilter">
                    <div Id="FacilityType">
                    </div>
                    <button onclick='GetDetailsByParam();' class="btn-submit">Get Details</button>
                </div>
                @*<div class="close"><i class="fa fa-times"></i></div>*@
            </div>

        </div>
    </div>
    <div class="clear"></div>
    <div class="resulttablediv padding1 margin1">
        <div><h2>All results</h2></div>
        <div class="table-container">
            <form method="post" id="search-form" onsubmit="Paging($(this).find('button[type=submit]')); return false;">
                @Html.Hidden("SearchColumn", Model.FilterCriteriaModel.SearchColumn)
                @Html.Hidden("CareForId", Model.FilterCriteriaModel.CareForId)
                @Html.Hidden("HelpForId", Model.FilterCriteriaModel.HelpForId)
                @Html.Hidden("FacilityId", Model.FilterCriteriaModel.FacilityId)
                @Html.Hidden("PageSize", Model.FilterCriteriaModel.PageSize)
                @Html.Hidden("PageIndex", Model.FilterCriteriaModel.PageIndex)
                <div id="ListResult">
                    @Html.Partial("_LoadResults", Model.PagingResult.DataList)
                </div>
                @Html.Partial("_Paging")
            </form>
        </div>
    </div>
</div>


<style>
    .bigdrop {
        width: 150px !important;
    }

    .filters .select2-container {
        width: 150px !important;
    }

    .filters .select2-selection__placeholder {
        font-style: italic;
    }
</style>
<script>


    function Paging(sender) {
        $('#PageIndex').val(paging.currentPage);
        $.ajaxExt({
            url: '/ACNC/GetACNCDetails',
            type: 'POST',
            showErrorMessage: true,
            //validate: true,
            formToPost: $('#search-form'),
            messageControl: $('span.msg-popup'),
            formToValidate: $('#search-form'),
            showThrobber: true,
            throbberPosition: { my: "left center", at: "right center", of: $(sender), offset: "5 0" },
            containFiles: true,
            success: function (data, msg) {
                PageNumbering(data.TotalResults);
                $('#ListResult').html(data.Data);
            }
        });
        return false;
    }
</script>

